In [5]:
from utils import db_conn
import json

In [6]:
#Read parameters from `CONSTANTS.jsos` file 
with open("CONSTANTS.json" , "r") as file :
    constants = json.loads( file.read() )

#Initialise/Connect to DB
cnxn, cursor=db_conn( constants["DB_name"])

2.6.0

# 0 Terms

In [7]:
query = "SELECT * FROM terms"
cursor.execute(query)
data = cursor.fetchall()
data

[(1, '1990–1992 metų kadencija', '1', '1990-03-10', '1992-11-22'),
 (2, '1992–1996 metų kadencija', '2', '1992-11-24', '1996-11-22'),
 (3, '1996–2000 metų kadencija', '3', '1996-11-25', '2000-10-18'),
 (4, '2000–2004 metų kadencija', '4', '2000-10-19', '2004-11-14'),
 (5, '2004–2008 metų kadencija', '5', '2004-11-15', '2008-11-16'),
 (6, '2008–2012 metų kadencija', '6', '2008-11-17', '2012-11-16'),
 (7, '2012–2016 metų kadencija', '7', '2012-11-16', '2016-11-14'),
 (8, '2016–2020 metų kadencija', '8', '2016-11-14', '2020-11-13'),
 (9, '2020–2024 metų kadencija', '9', '2020-11-13', '')]

# 1 MPs

In [11]:
query = "SELECT COUNT( DISTINCT mp_id) FROM mps"
cursor.execute(query)
data = cursor.fetchall()
data

[(764,)]

In [12]:
query = "SELECT COUNT(mp_id) FROM mps"
cursor.execute(query)
data = cursor.fetchall()
data

[(1358,)]

In [13]:
query = "SELECT DISTINCT term_id FROM mps"
cursor.execute(query)
data = cursor.fetchall()
data

[('1',), ('2',), ('3',), ('4',), ('5',), ('6',), ('7',), ('8',), ('9',)]

# 2 Sessions

In [14]:
query = "SELECT COUNT( DISTINCT session_id) FROM sessions"
cursor.execute(query)
data = cursor.fetchall()
data

[(108,)]

In [18]:
query = "SELECT DISTINCT term_id FROM sessions"
cursor.execute(query)
data = cursor.fetchall()
data

[('1',), ('2',), ('3',), ('4',), ('5',), ('6',), ('7',), ('8',), ('9',)]

# 3 Sittings

In [17]:
query = "SELECT COUNT( DISTINCT sitting_id) FROM sittings"
cursor.execute(query)
data = cursor.fetchall()
data

[(4175,)]

In [19]:
query = "SELECT COUNT( DISTINCT session_id) FROM sittings"
cursor.execute(query)
data = cursor.fetchall()
data

[(108,)]

# 4 Agenda Items

In [39]:
query = "SELECT COUNT( DISTINCT issue_number) FROM agenda_items"
cursor.execute(query)
data = cursor.fetchall()
data
#3172

[(3172,)]

In [40]:
query = "SELECT COUNT( DISTINCT sitting_id) FROM agenda_items"
cursor.execute(query)
data = cursor.fetchall()
data

[(2417,)]

# 5 Vottings

In [26]:
query = "SELECT COUNT( DISTINCT stage_id) FROM agenda_items"
cursor.execute(query)
data = cursor.fetchall()
data

[(46221,)]

In [28]:
query = "SELECT COUNT( DISTINCT stage_id) FROM votings"
cursor.execute(query)
data = cursor.fetchall()
data

[(32237,)]

# 6 Voting Results

In [30]:
query = "SELECT COUNT( DISTINCT voting_id) FROM votings"
cursor.execute(query)
data = cursor.fetchall()
data

[(41141,)]

In [31]:
query = "SELECT COUNT( DISTINCT voting_id) FROM voting_results"
cursor.execute(query)
data = cursor.fetchall()
data

[(41140,)]

# 7 Registrations

In [32]:
query = "SELECT COUNT( DISTINCT registration_id) FROM votings"
cursor.execute(query)
data = cursor.fetchall()
data

[(33883,)]

In [33]:
query = "SELECT COUNT( DISTINCT registration_id) FROM registrations"
cursor.execute(query)
data = cursor.fetchall()
data

[(33882,)]

# 8 Mega Seats

In [35]:
query = "SELECT COUNT( DISTINCT mp_id) FROM mega_seats"
cursor.execute(query)
data = cursor.fetchall()
data

[(228,)]

In [22]:
# Get sitting IDs from DB
query = "SELECT sitting_id FROM sittings"
cursor.execute(query)
all_sitting_ids = [str(row[0]) for row in cursor.fetchall()]

query = "SELECT DISTINCT sitting_id FROM agenda_items"
cursor.execute(query)
processed_sitting_ids = [str(row[0]) for row in cursor.fetchall()]

sitting_ids = [i for i in all_sitting_ids if i not in processed_sitting_ids]

In [24]:
len(sitting_ids)

1758